<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>groupie-tracker</title>
</head>
<body>
    <div class="bar"> 
    <h1 class="font"><strong>artists</strong></h1>
    </div>
    <div class="container">
      
        
        {{range .}}
            {{if and (ne .Id 21) (ne .Id 43)}}
            
            <a href="/artist/{{.Id}}">
             
            <section class="actor" >
                <div>
                    <img src="{{.Image}}" alt="{{.Name}}">                   
                </div>
                <h2 class="nam">{{.Name}}</h2>
            </section>
        </a>
            
            {{end}}
        {{end}}
    </div>
</body>
<footer>
    <strong>creat By <a href="https://github.com/Boutamgharine2"> ANOUAR BOUTAMGHARINE</a></strong>
</footer> 
</html>
